/* Style generell view */
#elements {
    margin-left: 40px;
    margin-top: 40px;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

#time {
    font-size: 20px;
    margin-bottom: 10px;
}


/* Style div for Intro and Challenge */
#text {
    border: solid 2px lightgray;
    border-radius: 10px;
    width: 60%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px !important;
}

/* Style div für Upload */
#divUpload {
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px !important;
}

/* Style upload challenge */
.form-select {
    width: 60%;
    margin-left: auto; 
    margin-right: 0;
}

.mb-3 {
    overflow: hidden;
}

#programmingLanguage, #operatingSystem {
    float: left;
    margin-left: 0; 
    margin-right: auto;
}

#selectOpSys, #selectProgLang {
    overflow: hidden;
}

#selectProgLang [ng-reflect-model="default"] {
    color: black !important;
}

.inputOther{
    margin-top: 20px;
    width: 60%;
    margin-left: auto; 
    margin-right: 0;
}



.btn.btn-dark {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0; 
    margin-right: auto;
}


/* Drag and Drop Field */
#DragnDropBlock {
    width: 100%;
    height: 220px;
    padding: 5px;
    text-align: center;
    border: dashed 1px #979797;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;

    /* Center items vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}


.dropFileHeader {
    font-size: 35px;
    font-weight: 400;
    color: #38424c;
    padding: 5px;
}

.picUpload {
    width: 75px;
    height: 75px;
    display: block;
    margin: auto;
}

.infoDropFile {
    font-size: 20px;
    color: lightgrey;
    padding: 5px;
}

.dropFileHeader {
    font-size: 30px;
}

#fileHandler {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#fileHandler:hover {
    cursor: pointer;
}



/* Uploades Files */
.files-list {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px !important;
}

.single-file {
    border: dotted 1px lightgray;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
}

.picntext{
    overflow: hidden;
    float: left;
}

.folder {
    float: left;
    margin-left: 0; 
    margin-right: auto;
    padding: 10px;
}

.info {
    overflow: hidden;
    padding: 10px;
}

.delete {
    cursor: pointer;
    float: right;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
}

.picDelete {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
}

.filename {
    font-size: 20px;
    margin:0;
}

.size {
    font-size: 15px;
}

/* Successful Upload */
#divSuccess {
    width: 40%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
    position: relative;
    /* Center items vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
} 

.textSuccess {
    font-size: 20px;
}

.picSuccess {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}
