<!DOCTYPE html>
<html>

<head>
    <title>Challenge</title>
    <link rel="stylesheet" type="text/css" href="challenge.component.css">
    <meta charset="UTF-8">
</head>


<body>
    <div id="elements">
        <div class="heading">
            <h2>Coding Challenge Platform</h2>
        </div>

        <div class="remaining_time">
            <p id="time"><b>Remaining Time:</b> {{time}}</p>
        </div>

        <div class="view_tab">
            <!-- Tab list area with the intro, challenge, and challenge upload options -->
            <div class="tab_list">
                <label class="tabs" id="tab_intro" for="tab-1" (click)="changeTab('tab_intro')">
                    Intro
                </label>

                <label class="tabs" id="tab_challenge" for="tab-2" (click)="changeTab('tab_challenge')">
                    Challenge
                </label>

                <label class="tabs" id="tab_upload" for="tab-3" (click)="changeTab('tab_upload')">
                    Upload
                </label>
            </div>

            <!-- Tab content of the intro  -->
            <div [hidden]="hideContentIntro" class="text_intro" id="text">
                Hi applicant,
                <br>
                <br />
                thank you for taking your time during our first interview and welcome to our <b>Coding
                    Challenge!</b>
                <br>
                <br />
                This exercise is part of our application process and gives us a quick overview about your technical
                skills. As you noticed, we switched to English as we know, that developers usually communicate/work
                using this language, although the company language isn't the same.
                <br>
                <br />
                Please read the introductions carefully as well as the problem definition, which can be found in the
                next tab. Nonetheless don't hesitate to ask us any questions about the setup, environment or the
                challenge itself. Please be prepared to show your running project upon request.
                <br>
                <br />
                The coding challenge is described in the next tab including an introduction into the task and some
                user stories. The stories are standing for the scope of the challenge and will help you to
                understand the task in detail. Our company philosophy is to build high quality software, therefore
                please focus on quality rather on quantity.
                Every User Story should be fully tested by unit tests or more. Feel free to develop test-driven.
                Even though the challenge includes a visual representation of the exercise, a GUI is not needed. It
                just needs a basic console line of your choice. Some examples are shown at the end of the task.
                <br>
                <br />
                About the environment:
                <ul>
                    <li>Feel free to use your preferred coding language and IDE</li>
                    <li>Tests need to be included</li>
                    <li>The code can be compiled without errors and is runnable</li>
                </ul>
                <br />
                Please upload the code <b>within the next 3 days</b> including following information:
                <ul>
                    <li>On which operation system do you code and run the application</li>
                    <li>Which programming language do you use</li>
                    <li>Any further information which are needed to run the application</li>
                </ul>
                If you have any technical questions, please write us an Email.
                <br>
                <br />
                Please note that there is no right or wrong solutions. The User Stories are representing how we work
                in our development teams. Clean & tested code is the foundation of our product development.
                <br>
                <br />
                We are looking forward seeing your solutions to this problem.
                <br>
                <br />
                Happy coding.
            </div>

            <!-- Tab content of the challenge  -->
            <div [hidden]="hideContentChallenge" class="text_challenge" id="text">
                <b>{{heading}}</b>
                <br><br>
                {{challengeText}}
            </div>

            <!-- Tab content of the challenge upload  -->
            <div [hidden]="hideContentUpload" class="div_upload">
                <div [hidden]="hideUpload" id="divUpload">
                    <div class="selection-options">
                        <!-- Area to select the programming language -->
                        <div class="mb-3">
                            <label class="form-label" id="programmingLanguage"><b>Programming Language: <span
                                        style="color: red;">*</span></b></label>

                            <select class="form-select" id="selectProgLang" [(ngModel)]="pl"
                                (change)="selectionProgLang()" required>
                                <option id="disabledOption" class="pl_option" value="default" disabled selected hidden>
                                    Programming Language</option>
                                <option class="pl_option" value="java">Java</option>
                                <option class="pl_option" value="c">C</option>
                                <option class="pl_option" value="python">Python</option>
                                <option class="pl_option" value="rust">Rust</option>
                                <option class="pl_option" value="other">Other</option>
                            </select>


                            <!-- Input if selected programming language is 'other' -->
                            <input [hidden]="hideProgLang" class="form-control inputOther" id="progLang" type="text"
                                placeholder="Other programming langugage" required>
                            <!-- Error message if no programming language is selected or none is entered  -->
                            <div [hidden]="hideMsgProgLang" class="errorMessage">{{msgProgLang}}</div>

                        </div>

                        <!-- Area to select the operating system -->
                        <div class="mb-3">
                            <label class="form-label" id="operatingSystem"><b>Operating System: <span
                                        style="color: red;">*</span></b></label>

                            <select class="form-select" id="selectOpSys" [(ngModel)]="os" (change)="selectionOpSys()"
                                required>
                                <option id="disabledOption" value="default" disabled selected hidden>Operating System
                                </option>
                                <option value="linux">Linux</option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="other">Other</option>
                            </select>

                            <!-- Input if selected operating system is 'other' -->
                            <input [hidden]="hideOpSys" class="form-control inputOther" id="opSys" type="text"
                                placeholder="Other operating system" required>
                            <!-- Error message if no operating system is selected or none is entered  -->
                            <div [hidden]="hideMsgOpSys" class="errorMessage">{{msgOpSys}}</div>
                        </div>
                    </div>

                    <!-- Area for uploading the finished challenge  -->
                    <div class="mb-3">
                        <div>
                            <!-- Image to open the info of the folder structure -->
                            <img src="../../../../assets/question-circle.svg" width="20" height="20"
                                class="question-circle" (click)="openDialogInfo()">

                            <!-- Drag and drop area -->
                            <div id="DragnDropBlock" appHandlerBundle>
                                <input type="file" id="fileHandler" name="file" accept=".zip"
                                    (change)="uploadFileHandler($event)" />

                                <div class="textDragnDrop">
                                    <label class="dropFileHeader"> Upload file here or drag file </label>

                                    <img src="../../../../assets/upload.svg" class="picUpload">

                                    <label class="infoDropFile">
                                        We accept file in .zip format, maximum size is 50 MB
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Error message if no file for upload is selected or the selected file has the wrong datatype or the selected file has a too large file size -->
                        <div [hidden]="hideMsgFileUpload" class="errorMessage msgFileUpload">{{msgFileUpload}}</div>

                        <!-- Area to display all uploaded files -->
                        <div class="files-list">
                            <div class="single-file" *ngFor="let file of fileArray; let i = index">
                                <div class="picntext">
                                    <div class="folder">
                                        <img src="../../../../assets/folder.svg" width="40" height="40">
                                    </div>

                                    <div class="info">
                                        <h4 class="filename">
                                            {{file?.name}}
                                        </h4>
                                        <label class="size">
                                            {{ formatBytes(file?.size) }}
                                        </label>
                                    </div>
                                </div>
                                <div class="delete">
                                    <img src="../../../../assets/trash3.svg" class="picDelete" (click)="deleteFile(i)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button to submit the challenge -->
                    <button type="button" class="btn btn-dark" (click)="submitChallenge()">Submit Solution</button>
                </div>

                <!-- Tab content of the challenge upload if the challenge is successfully uploaded -->
                <div [hidden]="hideSuccess" id="divSuccess">
                    <div class="child">
                        <label class="textSuccess"> Your solution has been successfully uploaded </label>
                        <img src="../../../../assets/check2.svg" width="300" height="300" class="picSuccess">
                        <label class="textSuccess"> We will contact you! </label>
                    </div>
                </div>

                <!-- Tab content of the challenge upload if the challenge is in uploading process -->               
                <div [hidden]="hideLoading" id="divLoading">
                    <label class="textLoading"><b>Uploading your solution. Please wait a moment.</b></label>
                    <mat-progress-spinner mode="indeterminate" class="progressSpinner"></mat-progress-spinner>
                </div>
            </div>
        </div>
    </div>

</body>

</html>