<!DOCTYPE html>
<html>

<head>
    <title>Admin View Challenges</title>
    <link rel="stylesheet" type="text/css" href="admin-challenges.component.css">
    <meta charset="UTF-8">
</head>


<body>
    <div id="elements">
        <div class="heading">
            <h2>Coding Challenge: Challenges</h2>
        </div>

        <div class="view_tab">
            <div class="tab_list">
                <div>
                    <label class="tabs" id="tab_active_challenges" for="tab-1"
                        (click)="changeTab('tab_active_challenges')">
                        Active Challenges
                    </label>
                </div>

                <button class="btn btn-dark add" id="add_button" (click)="addChallenge()">
                    Add
                    <img src="../../../../assets/plus-lg.svg" class="plus">
                </button>
            </div>

            <div [hidden]="hideContentActiveChallenges" class="contentActiveChallenges">
                <div class="list" id="list_challenges">
                    <div class="single_challenge" *ngFor="let challenge of challengeArray; let i = index">
                        <div class="text_elements">
                            <h4 class="challengeId">
                                {{challenge.challengeHeading}}
                            </h4>
                        </div>
                        <div class="btn_position">
                            <button class="btn btn-dark details"
                                (click)="openDialogActiveChallenges(challenge)">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>