<div class="main_container">
    <h1>Coding Challenge Platform</h1>

    <p class="first_line">Thank you for taking your time during our first interview and welcome to our <b>Coding Challenge</b>!</p>

    <p>As part of your application process, you will participate in a coding challenge. This will give us an insight into your coding style.</p>
    <p>Once you press the button, you will be taken to the challenge page for more detailed information that will help you solve the given challenge.</p>

    <app-button title="Start Coding Challenge" look="primary" (click)="openDialog()"></app-button>
</div>