.dialog_container {
    padding: 2em;
    border: 0.12em;
    border-color: black;
    border-style: solid;
    border-radius: 0.3em;
}

h1 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 1em;
}

p,
a {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

#bold {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 1.5em;
}

#close {
    display: flex;
    float: right;
    background: none;
    border: none;
}

#close:hover {
    cursor: pointer;
}

#close_image {
    filter: invert(60%);
    width: 3vw;
}

#close_image:hover {
    filter: invert(75%);
}

#button_container {
    display: inline-flex;
    width: 100%;
}

.spacer {
    flex: 1;
}

app-button {
    display: inline-block;
    width: 40%;
    margin-top: 3em;
}

@media (min-width:2000px) {

    p,
    a {
        font-size: 30px;
        line-height: 40px;
    }

    #bold {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width:1024px) {
    app-button {
        width: 49%;
    }

    #close_image {
        width: 5vw;
    }
}

@media (max-width:768px) {
    h1 {
        font-size: 30px;
        line-height: 50px;
    }

    p,
    a {
        font-size: 16px;
        line-height: 25px;
    }

    #bold {
        font-size: 20px;
        line-height: 30px;
    }
}