:host {
    display: block;
    min-height: 100%;
}

.toolbar {
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 35, 57);
    position: fixed;
    z-index: 4;
}

.spacer {
    flex: 1;
}

a {
    margin-left: 35px;
    margin-right: 35px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

.logo {
    height: 45.6px;
}

.logout_link {
    margin-right: 0;
    display: inline-block;
}

.logout_link:hover {
    cursor: pointer;
}

.logout {
    height: 40px;
    filter: invert();
}

.home {
    padding: 10px;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3em;
    border-color: white;
}

.home:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.1);
}


.sitenav {
    width: 20%;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 3;
}

.space {
    height: 80px;
}

.closed_sitenav {
    display: none;
}

.open_sitenav {
    padding-top: 80px;
    margin: 2em;
    float: right;
}

.open_sitenav:hover {
    cursor: pointer;
}

.close_sitenav {
    display: inline-block;
    margin: 1.5em 0 1em 1.5em;
}

.close_sitenav:hover {
    cursor: pointer;
}

.sitenav_icon {
    height: 1.5em;
}

.sitenav_link {
    margin: 0;
    display: block;
    padding: 0.5em 1em;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.sitenav_link_selected {
    background-color: rgb(0, 35, 57);
    color: white;
}

.not_clickable {
    pointer-events: none;
}

.in_background {
    background-color: rgba(55, 55, 55, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
}

.body {
    padding-top: 80px;
    min-height: calc(100vh - 80px);
}

.footer {
    height: 80px;
    width: 100%;
    display: flex;
}

.footer a:hover {
    text-decoration: underline;
}

@media (min-width:2000px) {
    a {
        font-size: 20px;
        line-height: 30px;
    }

    .sitenav_link {
        font-size: 30px;
        line-height: 40px;
    }

    .close_sitenav {
        margin: 2em 0 1em 2em;
    }

    .sitenav_icon {
        height: 2em;
    }
}

@media (max-width:1440px) {
    .sitenav {
        width: 30%;
    }
}

@media (max-width:768px) {
    .sitenav {
        width: 55%;
    }
}

@media (max-width:425px) {
    .logo {
        height: 35.6px;
    }

    .sitenav {
        width: 100%;
    }
}