/* Style generell view */
#elements {
    margin: auto;
    width: 75%;
    padding-top: 120px;
    padding-bottom: 120px;
}

h2 {
    line-height: 1.2em;
    font-size: 50px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
}

/* style tab navigation */
.tab_list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.tabs{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    align-items: center;
    
    padding-top: 16px;
    padding-bottom: 14px;
}

.tabs:hover {
    cursor: pointer;
}

#tab_active_challenges {
    border-bottom: 2px solid black;
}

#tab_archiv {
    margin-left: 24px;;
}


/* style lists */
.list {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.single_applicant, .single_archiv {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 0.5cm;
}

.text_elements {
    display: flex;
    flex-direction: row;
}

h4 {
    font-size: 25px;
}

span {
    font-size: 20px;
}

.btn.btn-dark {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0; 
    margin-right: auto;
}


/* Responsive Webdesign */ 
@media screen and (min-width: 2000px) {
    h2 {
        font-size: 80px;
    }

    .tabs{
        font-size: 25px;
    }

    h4 {
        font-size: 35px;
    }
    
    span {
        font-size: 30px;
    }

}

@media screen and (max-width: 768px) {

}