<div class="main_container">
    <h1>Coding Challenge: Change Password</h1>
    <p class="heading">Old Password</p>
    <input class="inputField" type="password" placeholder="Please enter your old password" [(ngModel)]="oldPassword" [ngClass]="{'show_error': this.showOldPasswordError}">
    <p class="error_message" [ngClass]="{'no_error': !this.showOldPasswordError}">{{this.oldPasswordError}}</p>
    <p class="heading">New Password</p>
    <input class="inputField" type="password" placeholder="Please enter your new password" [(ngModel)]="newPassword" [ngClass]="{'show_error': this.showNewPasswordError}">
    <p class="error_message" [ngClass]="{'no_error': !this.showNewPasswordError}">{{this.newPasswordError}}</p>
    <p class="heading">Confirm Password</p>
    <input class="inputField" type="password" placeholder="Please confirm your new password" [(ngModel)]="confirmPassword" [ngClass]="{'show_error': this.showConfirmPasswordError}">
    <p class="error_message" [ngClass]="{'no_error': !this.showConfirmPasswordError}">{{this.confirmPasswordError}}</p>
    <div class="button_row">
        <app-button title="Confirm Changes" look="primary" font="normal" (click)="setPassword(oldPassword, newPassword, confirmPassword)"></app-button>
        <div class="spacer"></div>
        <app-button title="Cancel" look="secondary" font="normal" (click)="cancel()"></app-button>
    </div>
</div>