<div class="alert" [ngClass]="{'not_showing': !this.successfulLogin}">Password was successfully changed!</div>
<div [ngClass]="{'in_background': this.successfulLogin}"></div>
<div class="main_container" [ngClass]="{'not_clickable': this.successfulLogin}">
    <h1>Coding Challenge: Change Password</h1>
    <p class="heading">Old Password</p>
    <input class="inputField" type="password" placeholder="Please enter your old password" [(ngModel)]="oldPassword"
        [ngClass]="{'show_error': this.showOldPasswordError, 'show_success': this.successfulLogin}">
    <p class="error_message" [ngClass]="{'not_showing': !this.showOldPasswordError}">{{this.oldPasswordError}}</p>
    <p class="heading">New Password</p>
    <input class="inputField" type="password" placeholder="Please enter your new password" [(ngModel)]="newPassword"
        [ngClass]="{'show_error': this.showNewPasswordError, 'show_success': this.successfulLogin}">
    <p class="error_message" [ngClass]="{'not_showing': !this.showNewPasswordError}">{{this.newPasswordError}}</p>
    <p class="heading">Confirm Password</p>
    <input class="inputField" type="password" placeholder="Please confirm your new password"
        [(ngModel)]="confirmPassword"
        [ngClass]="{'show_error': this.showConfirmPasswordError, 'show_success': this.successfulLogin}">
    <p class="error_message" [ngClass]="{'not_showing': !this.showConfirmPasswordError}">{{this.confirmPasswordError}}
    </p>
    <div class="button_row">
        <app-button title="Confirm Changes" look="primary" font="normal"
            (click)="setPassword(oldPassword, newPassword, confirmPassword)"></app-button>
        <div class="spacer"></div>
        <app-button title="Cancel" look="secondary" font="normal" (click)="cancel()"></app-button>
    </div>
</div>