.main_container {
    width: 75%;
    margin: auto;
    margin-top: 5em;
    padding-bottom: 5em;
}

h1 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 1em;
}

.inputField {
    width: 100%;
    padding: 1em;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    border: 0.1em;
    border-style: solid;
    border-radius: 0.3em;
    border-color: gray;
}

.show_error {
    border-color: red;
    outline: none;
}

.heading {
    margin-top: 1em;
    margin-bottom: 0.1em;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
}

.error_message {
    margin-top: 0.1em;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: red;
}

.no_error {
    visibility: hidden;
}

.button_row{
    display: inline-flex;
    width: 100%;
}

.spacer {
    flex: 1;
}

app-button {
    display: inline-block;
    width: 25%;
    margin-top: 3em;
}

@media (min-width:2000px) {
    h1 {
        font-size: 80px;
        line-height: 100px;
    }

    .inputField, .error_message {
        font-size: 30px;
        line-height: 40px;
    }

    .heading {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width:1440px) {
    app-button {
        width: 30%;
    }
}

@media (max-width:1024px) {
    app-button {
        width: 40%;
    }
}

@media (max-width:768px) {
    app-button {
        width: 49%;
        height: 30em;
    }

    h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .inputField, .error_message {
        font-size: 16px;
        line-height: 25px;
    }

    .heading {
        font-size: 20px;
        line-height: 30px;
    }

}

@media (max-width:768px) {
    h1 {
        font-size: 30px;
        line-height: 50px;
    }

    .inputField, .error_message {
        font-size: 13px;
        line-height: 23px;
    }
}